ODDS_API_KEY=your key
BALLDONTLIE_API_KEY=your key
REGION=us
MARKETS=player_points,player_assists,player_rebounds,player_threes,player_pr_points_assists,player_pr,player_pa
ODDS_API_URL=https://api.the-odds-api.com/v4/sports/basketball_nba/odds
BALLDONTLIE_API_URL=https://api.balldontlie.io/v1
LOG_LEVEL=INFO
CACHE_EXPIRY_SECONDS=300
