ODDS_API_KEY=64cdd65e65b4d9050d3c0823733c3ba3
BALLDONTLIE_API_KEY=47589d02-1914-4a39-825d-7f2c1e406055
REGION=us
MARKETS=player_points,player_assists,player_rebounds,player_threes,player_pr_points_assists,player_pr,player_pa
ODDS_API_URL=https://api.the-odds-api.com/v4/sports/basketball_nba/odds
BALLDONTLIE_API_URL=https://api.balldontlie.io/v1
LOG_LEVEL=INFO
CACHE_EXPIRY_SECONDS=300
